.title {
    text-align: center;
    font: Helvetica;
}
.searchsection {
    display: table;
    width: 100%;
}
.searchform{
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}