<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='style/style.css') }}">
</head>
<body>
    <div class="login">
    {% if login_token == "" %}
        You are not signed in <br>
        <a href="{{url_for('sign_in')}}">Sign up or Sign in</a>
    {% endif %}
    </div>
    <div class="title"> <h1>Search for podcast!</h1></div>
    <div class="searchbox">
        <form action="{{ url_for('result') }}" method="post" class ="searchform">
            <input type="text" name="searchkey" id="search" placeholder="Search..." autofocus />
            <button type="submit">Search</button>
        </form>
    </div>
</body>
</html>